  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .read {

  }
  .unread {
    background-color:#2EB5C7 !important;
    color: white;
  }
  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }

  .example-item {
    height: 50px;
  }
