#displayData {
    border-collapse: collapse;
    width: 942px;
    display: table;
    }

    #displayData td, th {
    border: 1px solid #f6f6f6;
    text-align: left;
    padding: 8px;
    font-size:12px;
    cursor: pointer;
    display: table-cell;
    width: 50%;
    }

    #displayData tr:nth-child(even) {
    background-color:#f6f6f6;
    }
    #link
    {
    text-decoration: none;
    color: black;
    }
    #anchor-clr
    {
        color: black;
        font-size:13px;

    }
    #list-coverage-name li
    {
      list-style: none;
      position: relative;
      right: 18px;
    }
    .mgt
    {
        text-align: center;
    }

    .long
    {
        width: 200px;
    }
    .mat-grid-tile {
        word-break: break-all;
        word-wrap: break-word;
    }
    .pro-stat-btn
    {
        border: 1px solid #2EB5C7;
        display: block;
        padding: 5px;
        font-size: 11ßpx;
        border-radius: 50px;
        background-color: #2EB5C7;
        color: #fff;
    }
    .changes-text{
        word-break: normal;     /*keep text on one line */
        overflow: hidden;         /*prevent text from being shown outside the border */
        text-overflow: ellipsis;  /*cut off text with an ellipsis*/
    }
