<div>
  <img class="center" src="./assets/images/digiLogo.png">
</div>
<div class="m-60">
  <mat-card class="card-center">
    <h3 class="text-center">HOME – DIGI SHIELD</h3>
    <mat-divider class="divider-color"></mat-divider>
    <div class="m-60">
      <button class="btn-block" (click)="navigateToNewDevice()" mat-raised-button >New Device - Digi Shield – Basic Cracked Screen, Digi Shield ADLD & Digi Shield Plus</button>
      <button class="btn-block" (click)="showDigiApp()" mat-raised-button>Digi Shield for All – Bring Your Own Device (BYOD)</button>
      <button class="btn-block" (click)="navigateToTermination()" mat-raised-button>Digi Shield Termination</button>
    </div>
  </mat-card>
</div>
